html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  margin: 0;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  height: 100vh;
  font-family: 'Urbanist', sans-serif;
}

main {
  padding: 3vh;
  overflow: auto;
}
