.card {
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.tags {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.tags__item {
    background-color: steelblue;
    padding-left: 1vh;
    padding-right: 1vh;
}

.card__answer {
    display: none;
}

.card__showanswer {
    margin: 0;
    width: 33vw;
}
